#bpBookmarkItem {
  max-inline-size: 100%;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  column-gap: 16px;
}

#bpBookmarkItem::before,
#bpBookmarkItem::after {
  display: none !important;
}

#bpBookmarkItem:hover,
.bpActive {
  background-color: var(--bp-extension-surface-content);
  border-radius: 6px;
}

#bpContent {
  display: flex;
  flex-direction: column;
}

#bpBookmarkContent,
#bpDomainContent {
  color: var(--bp-extension-text-primary);
  font-size: 1.6em;
  user-select: none;
  word-break: break-all;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

#bpDomainContent {
  opacity: 0.75;
  font-size: 1.25em;
  color: var(--bp-extension-text-secondary);
}

#bpPaths {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  grid-column-gap: 8px;
  align-items: center;
  font-size: 1.1em;
  color: var(--bp-extension-text-secondary);
}

#bpPath {
  background-color: var(--bp-extension-surface-info);
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 1.15em;
  white-space: nowrap;
}
