#bpFilterForm {
  position: relative;
  margin: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--bp-extension-separator);
}

#bpFilterInput {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  border: none;
  outline: none !important;
  font-family: var(--bp-extension-font-sans) !important;
  caret-color: var(--bp-extension-brand);

  width: 100%;
  margin: 16px 16px 8px 16px !important;
  padding: 8px !important;
  font-size: 1.85em !important;
  color: var(--bp-extension-text-primary) !important;
  background-color: transparent !important;
}

#bpFilterInput::placeholder {
  color: var(--bp-extension-text-info) !important;
}

#bpFilterInput:focus,
#bpFilterInput:active {
  outline: none !important;
}
